<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>

<body>
<div class="container">
    <h1>Welcome, {{index . "nickname"}}.</h1>

    <h2>Profile information</h2>

    <div class="row">
        <div class="twelve columns">
            {{ if .profilepic }}
            <img src='{{index . "profilepic"}}'  alt="profile picture"/>
            {{ end }}
        </div>
        <div class="twelve columns">
            <strong>Nickname:</strong> {{index . "nickname"}}
        </div>
        <div class="twelve columns">
            <strong>Username:</strong> {{index . "username"}}
        </div>
    </div>

    <a href="/edit">Edit</a>
    <a href="/logout">Logout</a>
</div>

</body>
</html>
