<h1>Register</h1>

{{ if . }}
<h6>{{.}}</h6>
{{ end }}

<form action="/register" method="POST">
    <div>
        <label for="uname">Username</label>
        <input type="text" name="username" id="uname" required>
    </div>
    <div>
        <label for="pw">Password</label>
        <input type="password" name="password" id="pw" required>
    </div>
    <div>
        <label for="nname">Nickname</label>
        <input type="text" name="nickname" id="nname" required>
    </div>
    <button type="submit">Submit</button>
</form>